html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.buttons {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.audio-button {
    width: 96px;
    height: 94px;
    background-color: #03102C;
    color: #D17BC6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    border-radius: 419px;
    margin-bottom: -1px;
}
